@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: rgba(23, 49, 79, 0.6);
}

.light-scrollbar::-webkit-scrollbar,
.light-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(194, 217, 254, 0.6);
  border-radius: 8px;
}

::selection {
  @apply bg-blue-1000 text-white;
}

::-moz-selection {
  @apply bg-blue-1000 text-white;
}

.min-w-1200 {
  min-width: 1200px;
}

.page-wrapper {
  width: 1200px;
}

button:focus {
  outline: 0;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bg-gradient {
  background: linear-gradient(180deg, #2c5282 0%, rgba(44, 82, 130, 0) 100%);
}

.bg-gradient-x {
  background: linear-gradient(270deg, rgba(44, 82, 130, 1) 0%, rgba(44, 82, 130, 0) 100%);
}

.text-overflow {
  text-overflow: ellipsis;
}

.heading {
  background: linear-gradient(to top, rgb(34, 92, 155) 0%, rgb(34, 92, 135) 100%);
  box-shadow: rgba(235, 248, 255, 0.1) 0px -1px inset;
}

.input-color {
  background: rgba(23, 49, 79, 0.6);
}

/* Checkbox */
.form-checkbox {
  @apply h-6 w-6 rounded-md border-blue-800 text-blue-1000;
  background: rgba(23, 49, 79, 0.6);
}

.form-checkbox:focus {
  @apply border-blue-700 bg-blue-1000 outline-none;
  box-shadow: none;
}

.form-checkbox:checked {
  @apply border-transparent bg-blue-1000;
}
