@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: rgba(23, 49, 79, .6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(194, 217, 254, .6);
  border-radius: 8px
}

.min-w-1200 {
  min-width: 1200px;;
}

.page-wrapper {
  width: 1200px;
}

button:focus {
  outline: 0;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bg-gradient {
  background: linear-gradient(180deg, #2C5282 0%, rgba(44, 82, 130, 0) 100%);
}

.text-overflow {
  text-overflow: ellipsis;
}

.heading {
  background: linear-gradient(
    to top,
    rgb(34, 92, 155) 0%,
    rgb(34, 92, 135) 100%
  );
  box-shadow: rgba(235, 248, 255, 0.1) 0px -1px inset;
}
