@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.transition-all {
  transition-property: all;
}

.transition-fastest {
  transition-duration: 50ms;
}

.transition-faster {
  transition-duration: 100ms;
}

.transition-fast {
  transition-duration: 150ms;
}

.transition-medium {
  transition-duration: 200ms;
}

.ease-out-quad {
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

.ease-in-quad {
  transition-timing-function: cubic-bezier(.55, .085, .68, .53);
}

.scale-70 {
  transform: scale(.7);
}

.scale-100 {
  transform: scale(1);
}